
Button {
    -fx-pref-width: 330;
    -fx-pref-height: 35;
    -fx-border-radius: 5;
    -fx-background-color: none;
}

TextField{
    -fx-max-width: 330;
    -fx-pref-height: 35;
    -fx-border-radius: 5;
    -fx-background-color: white;
}

label{
    -fx-text-fill: #626C8F;
}
#pane{
    -fx-background-size: 1200 650;
    -fx-background-position: center center;
}
.primary-btn{
    -fx-background-color: #4164E2;
    -fx-text-fill: white;
}

.second-btn{
    -fx-border-width: 1;
    -fx-border-color: #4164E2;
    -fx-text-fill: #4164E2;
}

.third-btn {
    -fx-background-color: #b8eac6;
    -fx-border-width: 1;
    -fx-border-color: #242825;
    -fx-text-fill: #0f1010;
}

.menu-bar{
    -fx-background-image: url("../pictures/menu_background/2.jfif");
    -fx-background-position: center center;
}
#title{
    -fx-font-size: 50;
    -fx-font-weight: bold;
}

#error{
    -fx-font-size: 27;
    -fx-font-weight: bold;
    -fx-text-fill: #fa0202;
}

Text{
    -fx-font-size: 35;
    -fx-font-weight: bold;
    -fx-text-fill: #97fa02;
}
